In [ ]:
!gdown 1h2m3ZRRdnUbM-_1YJipZ1pkQTzuNCElE

Downloading...
From: https://drive.google.com/uc?id=1h2m3ZRRdnUbM-_1YJipZ1pkQTzuNCElE
To: /content/Credit.csv
100% 26.6k/26.6k [00:00<00:00, 71.0MB/s]

In [ ]:
import pandas as pd

In [ ]:
# df=pd.read_csv('Credit.csv')

In [ ]:
import csv
import random
from datetime import datetime, timedelta

# Given JSON data as a dictionary
base_data = {
  "type" : "deposit",
  "masked_account_number": "XXXXXXX123",
  "link_ref_number": "123456789",
  "profile": {
    # ... (other profile fields)
  },
  "summary": {
    # ... (other summary fields)
  },
  "transactions": {
    "endDate": "",
    "startDate": "",
    "transaction": [
      {
        # ... (transaction details)
      }
    ]
  }
}

# Generate and export instances
num_instances = 400
output_file = "generated_instances.csv"

with open(output_file, "w", newline="") as csvfile:
    fieldnames = base_data.keys()
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()

    for _ in range(num_instances):
        instance_data = base_data.copy()

        # Randomly modify fields (example)
        instance_data["currentBalance"] = round(random.uniform(500, 50000), 2)
        instance_data["transactions"]["transaction"][0]["amount"] = str(random.randint(10, 1000))
        instance_data["transactions"]["transaction"][0]["currentBalance"] = str(round(random.uniform(500, 50000), 2))
        instance_data["transactions"]["transaction"][0]["transactionTimestamp"] = (datetime.now() - timedelta(days=random.randint(1, 365))).isoformat()

        # Write instance to CSV
        writer.writerow(instance_data)

print(f"{num_instances} instances generated and exported to {output_file}.")

ValueError: ignored

In [ ]:
import csv
import random
from datetime import datetime, timedelta

# Generate random data for different fields
def generate_random_data():
    return {
        "type": random.choice(["deposit", "withdrawal"]),
        "masked_account_number": "XXXXXXX" + str(random.randint(100, 999)),
        "link_ref_number": random.randint(100000000, 999999999),
        "profile_holders_holder_address": f"{random.randint(1, 999)}/{random.randint(100, 999)},"
                                         f" {random.randint(100, 999)}th Cross, {random.randint(10, 99)}rd Main,"
                                         f" {random.randint(1, 20)}th Block, Bangalore - {random.randint(100000, 999999)}",
        "profile_holders_holder_ckycCompliance": random.choice(["true", "false"]),
        "profile_holders_holder_dob": f"{random.randint(1, 28)}-{random.randint(1, 12)}-{random.randint(1950, 2002)}",
        "profile_holders_holder_email": f"random{random.randint(1, 100)}@gmail.com",
        "profile_holders_holder_landline": "",
        "profile_holders_holder_mobile": "91" + str(random.randint(7000000000, 9999999999)),
        "profile_holders_holder_name": f"Random User {random.randint(1, 100)}",
        "profile_holders_holder_nominee": random.choice(["REGISTERED", "UNREGISTERED"]),
        "profile_holders_holder_pan": ''.join(random.choices("ABCDEFGHIJKLMNOPQRSTUVWXYZ", k=5)) + str(random.randint(1000, 9999)) + 'C',
        "summary_balanceDateTime": datetime.now().isoformat(),
        "summary_branch": f"Branch {random.randint(1, 10)}",
        "summary_currency": "INR",
        "summary_currentBalance": round(random.uniform(1000, 100000), 2),
        "summary_currentODLimit": "0",
        "summary_drawingLimit": "0",
        "summary_exchgeRate": "",
        "summary_facility": random.choice(["OD", "Normal"]),
        "summary_ifscCode": "APNB" + str(random.randint(1000, 9999)),
        "summary_micrCode": str(random.randint(100000000, 999999999)),
        "summary_openingDate": (datetime.now() - timedelta(days=random.randint(1, 3650))).strftime('%d-%m-%Y'),
        "summary_pending_amount": "0",
        "summary_pending_transactionType": random.choice(["DEBIT", "CREDIT"]),
        "summary_status": random.choice(["ACTIVE", "INACTIVE"]),
        "summary_type": random.choice(["SAVINGS", "CURRENT"]),
        "transactions_endDate": "",
        "transactions_startDate": "",
        "transactions_transaction_amount": str(random.randint(10, 1000)),
        "transactions_transaction_currentBalance": str(round(random.uniform(1000, 100000), 2)),
        "transactions_transaction_mode": random.choice(["UPI", "IMPS", "NEFT"]),
        "transactions_transaction_narration": f"Narration {random.randint(1, 10)}",
        "transactions_transaction_reference": "RFN" + str(random.randint(10000, 99999)),
        "transactions_transaction_transactionTimestamp": (datetime.now() - timedelta(days=random.randint(1, 365))).isoformat(),
        "transactions_transaction_txnId": "M" + str(random.randint(100000, 999999)),
        "transactions_transaction_type": random.choice(["DEBIT", "CREDIT"]),
        "transactions_transaction_valueDate": (datetime.now() - timedelta(days=random.randint(1, 365))).strftime('%Y-%m-%d')
    }

# Generate and export instances
num_instances = 400
output_file = "generated_data.csv"

with open(output_file, "w", newline="") as csvfile:
    fieldnames = [
        "type", "masked_account_number", "link_ref_number",
        "profile_holders_holder_address", "profile_holders_holder_ckycCompliance",
        "profile_holders_holder_dob", "profile_holders_holder_email",
        "profile_holders_holder_landline", "profile_holders_holder_mobile",
        "profile_holders_holder_name", "profile_holders_holder_nominee", "profile_holders_holder_pan",
        "summary_balanceDateTime", "summary_branch", "summary_currency", "summary_currentBalance",
        "summary_currentODLimit", "summary_drawingLimit", "summary_exchgeRate",
        "summary_facility", "summary_ifscCode", "summary_micrCode", "summary_openingDate",
        "summary_pending_amount", "summary_pending_transactionType",
        "summary_status", "summary_type",
        "transactions_endDate", "transactions_startDate",
        "transactions_transaction_amount", "transactions_transaction_currentBalance",
        "transactions_transaction_mode", "transactions_transaction_narration",
        "transactions_transaction_reference", "transactions_transaction_transactionTimestamp",
        "transactions_transaction_txnId", "transactions_transaction_type", "transactions_transaction_valueDate"
    ]
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()

    for _ in range(num_instances):
        instance_data = generate_random_data()

        # Write instance to CSV
        writer.writerow(instance_data)

print(f"{num_instances} instances generated and exported to {output_file}.")

400 instances generated and exported to generated_data.csv.

In [ ]:
data=pd.read_csv('generated_data.csv')

In [ ]:
data

,type,masked_account_number,link_ref_number,profile_holders_holder_address,profile_holders_holder_ckycCompliance,profile_holders_holder_dob,profile_holders_holder_email,profile_holders_holder_landline,profile_holders_holder_mobile,profile_holders_holder_name,...,transactions_startDate,transactions_transaction_amount,transactions_transaction_currentBalance,transactions_transaction_mode,transactions_transaction_narration,transactions_transaction_reference,transactions_transaction_transactionTimestamp,transactions_transaction_txnId,transactions_transaction_type,transactions_transaction_valueDate
0,deposit,XXXXXXX117,997642425,"517/936, 895th Cross, 43rd Main, 19th Block, B...",True,2-11-1995,random40@gmail.com,NaN,917456338235,Random User 91,...,NaN,162,71354.69,NEFT,Narration 7,RFN26260,2023-03-27T18:55:58.789158,M807459,DEBIT,2023-01-21
1,withdrawal,XXXXXXX326,896145836,"845/484, 187th Cross, 52rd Main, 18th Block, B...",False,27-1-1961,random14@gmail.com,NaN,918542725586,Random User 35,...,NaN,589,52157.55,UPI,Narration 5,RFN84846,2023-02-15T18:55:58.789293,M403907,DEBIT,2023-06-25
2,deposit,XXXXXXX983,483736864,"117/684, 601th Cross, 66rd Main, 12th Block, B...",True,20-8-1984,random24@gmail.com,NaN,917469090792,Random User 54,...,NaN,74,10931.62,IMPS,Narration 3,RFN88377,2022-10-15T18:55:58.789419,M219674,CREDIT,2022-11-02
3,withdrawal,XXXXXXX450,243561481,"944/285, 375th Cross, 23rd Main, 11th Block, B...",False,24-9-1970,random90@gmail.com,NaN,919985846671,Random User 16,...,NaN,20,30885.30,UPI,Narration 4,RFN45239,2022-08-10T18:55:58.789542,M339180,DEBIT,2022-12-21
4,withdrawal,XXXXXXX691,144754670,"233/455, 553th Cross, 23rd Main, 2th Block, Ba...",True,28-2-1990,random50@gmail.com,NaN,917859613480,Random User 1,...,NaN,27,47422.20,IMPS,Narration 2,RFN43760,2023-08-02T18:55:58.791668,M190553,CREDIT,2023-02-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,deposit,XXXXXXX866,587505913,"500/950, 890th Cross, 28rd Main, 13th Block, B...",True,9-1-1987,random40@gmail.com,NaN,919710851608,Random User 29,...,NaN,644,25808.02,IMPS,Narration 4,RFN54832,2022-09-26T18:55:58.823799,M408815,CREDIT,2022-12-15
396,deposit,XXXXXXX637,848612817,"47/761, 123th Cross, 70rd Main, 9th Block, Ban...",False,18-8-1995,random28@gmail.com,NaN,919617579870,Random User 93,...,NaN,236,77180.98,IMPS,Narration 3,RFN35520,2022-08-15T18:55:58.823870,M926978,CREDIT,2023-01-24
397,withdrawal,XXXXXXX868,297798435,"79/843, 992th Cross, 30rd Main, 4th Block, Ban...",False,10-4-1952,random8@gmail.com,NaN,919293842143,Random User 22,...,NaN,780,98393.91,NEFT,Narration 4,RFN57736,2023-07-21T18:55:58.823941,M602881,CREDIT,2023-02-14
398,withdrawal,XXXXXXX698,590438740,"621/312, 531th Cross, 60rd Main, 13th Block, B...",True,8-11-1951,random7@gmail.com,NaN,919479669130,Random User 30,...,NaN,988,97566.02,IMPS,Narration 8,RFN57518,2023-02-16T18:55:58.824011,M216663,DEBIT,2022-09-22
399,deposit,XXXXXXX987,808351578,"304/802, 506th Cross, 19rd Main, 17th Block, B...",False,28-5-1962,random80@gmail.com,NaN,918227140193,Random User 73,...,NaN,111,57908.49,IMPS,Narration 5,RFN21190,2022-11-25T18:55:58.824086,M741002,CREDIT,2023-06-24

In [ ]:
column_names = data.columns.tolist()

In [ ]:
column_names

['type',
 'masked_account_number',
 'link_ref_number',
 'profile_holders_holder_address',
 'profile_holders_holder_ckycCompliance',
 'profile_holders_holder_dob',
 'profile_holders_holder_email',
 'profile_holders_holder_landline',
 'profile_holders_holder_mobile',
 'profile_holders_holder_name',
 'profile_holders_holder_nominee',
 'profile_holders_holder_pan',
 'summary_balanceDateTime',
 'summary_branch',
 'summary_currency',
 'summary_currentBalance',
 'summary_currentODLimit',
 'summary_drawingLimit',
 'summary_exchgeRate',
 'summary_facility',
 'summary_ifscCode',
 'summary_micrCode',
 'summary_openingDate',
 'summary_pending_amount',
 'summary_pending_transactionType',
 'summary_status',
 'summary_type',
 'transactions_endDate',
 'transactions_startDate',
 'transactions_transaction_amount',
 'transactions_transaction_currentBalance',
 'transactions_transaction_mode',
 'transactions_transaction_narration',
 'transactions_transaction_reference',
 'transactions_transaction_transactionTimestamp',
 'transactions_transaction_txnId',
 'transactions_transaction_type',
 'transactions_transaction_valueDate']

In [ ]:
import pandas as pd

# Load your data into a DataFrame (replace 'data.csv' with your actual data file)
df=data

# Calculate total debits and total credits for each instance
df['transactions_transaction_amount'] = df['transactions_transaction_amount'].astype(float)
df['total_debits'] = df[df['transactions_transaction_type'] == 'DEBIT']['transactions_transaction_amount']
df['total_credits'] = df[df['transactions_transaction_type'] == 'CREDIT']['transactions_transaction_amount']

# Calculate average transaction amount for each instance
df['average_transaction_amount'] = df['transactions_transaction_amount']

# Identify frequent transaction modes for each instance
df['frequent_transaction_modes'] = df['transactions_transaction_mode']

# You can add more computations based on your requirements

# Save the computed values back to the DataFrame
df.to_csv('computed_data.csv', index=False)

print("Computed values saved to computed_data.csv")

Computed values saved to computed_data.csv

In [ ]:
df

,type,masked_account_number,link_ref_number,profile_holders_holder_address,profile_holders_holder_ckycCompliance,profile_holders_holder_dob,profile_holders_holder_email,profile_holders_holder_landline,profile_holders_holder_mobile,profile_holders_holder_name,...,transactions_transaction_narration,transactions_transaction_reference,transactions_transaction_transactionTimestamp,transactions_transaction_txnId,transactions_transaction_type,transactions_transaction_valueDate,total_debits,total_credits,average_transaction_amount,frequent_transaction_modes
0,deposit,XXXXXXX117,997642425,"517/936, 895th Cross, 43rd Main, 19th Block, B...",True,2-11-1995,random40@gmail.com,NaN,917456338235,Random User 91,...,Narration 7,RFN26260,2023-03-27T18:55:58.789158,M807459,DEBIT,2023-01-21,162.0,NaN,162.0,NEFT
1,withdrawal,XXXXXXX326,896145836,"845/484, 187th Cross, 52rd Main, 18th Block, B...",False,27-1-1961,random14@gmail.com,NaN,918542725586,Random User 35,...,Narration 5,RFN84846,2023-02-15T18:55:58.789293,M403907,DEBIT,2023-06-25,589.0,NaN,589.0,UPI
2,deposit,XXXXXXX983,483736864,"117/684, 601th Cross, 66rd Main, 12th Block, B...",True,20-8-1984,random24@gmail.com,NaN,917469090792,Random User 54,...,Narration 3,RFN88377,2022-10-15T18:55:58.789419,M219674,CREDIT,2022-11-02,NaN,74.0,74.0,IMPS
3,withdrawal,XXXXXXX450,243561481,"944/285, 375th Cross, 23rd Main, 11th Block, B...",False,24-9-1970,random90@gmail.com,NaN,919985846671,Random User 16,...,Narration 4,RFN45239,2022-08-10T18:55:58.789542,M339180,DEBIT,2022-12-21,20.0,NaN,20.0,UPI
4,withdrawal,XXXXXXX691,144754670,"233/455, 553th Cross, 23rd Main, 2th Block, Ba...",True,28-2-1990,random50@gmail.com,NaN,917859613480,Random User 1,...,Narration 2,RFN43760,2023-08-02T18:55:58.791668,M190553,CREDIT,2023-02-18,NaN,27.0,27.0,IMPS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,deposit,XXXXXXX866,587505913,"500/950, 890th Cross, 28rd Main, 13th Block, B...",True,9-1-1987,random40@gmail.com,NaN,919710851608,Random User 29,...,Narration 4,RFN54832,2022-09-26T18:55:58.823799,M408815,CREDIT,2022-12-15,NaN,644.0,644.0,IMPS
396,deposit,XXXXXXX637,848612817,"47/761, 123th Cross, 70rd Main, 9th Block, Ban...",False,18-8-1995,random28@gmail.com,NaN,919617579870,Random User 93,...,Narration 3,RFN35520,2022-08-15T18:55:58.823870,M926978,CREDIT,2023-01-24,NaN,236.0,236.0,IMPS
397,withdrawal,XXXXXXX868,297798435,"79/843, 992th Cross, 30rd Main, 4th Block, Ban...",False,10-4-1952,random8@gmail.com,NaN,919293842143,Random User 22,...,Narration 4,RFN57736,2023-07-21T18:55:58.823941,M602881,CREDIT,2023-02-14,NaN,780.0,780.0,NEFT
398,withdrawal,XXXXXXX698,590438740,"621/312, 531th Cross, 60rd Main, 13th Block, B...",True,8-11-1951,random7@gmail.com,NaN,919479669130,Random User 30,...,Narration 8,RFN57518,2023-02-16T18:55:58.824011,M216663,DEBIT,2022-09-22,988.0,NaN,988.0,IMPS
399,deposit,XXXXXXX987,808351578,"304/802, 506th Cross, 19rd Main, 17th Block, B...",False,28-5-1962,random80@gmail.com,NaN,918227140193,Random User 73,...,Narration 5,RFN21190,2022-11-25T18:55:58.824086,M741002,CREDIT,2023-06-24,NaN,111.0,111.0,IMPS

In [ ]:
df.to_csv('labelledSETU.csv')

In [ ]:
column_names1 = data.columns.tolist()

In [ ]:
column_names1

['Unnamed: 0',
 'type',
 'masked_account_number',
 'link_ref_number',
 'profile_holders_holder_address',
 'profile_holders_holder_ckycCompliance',
 'profile_holders_holder_dob',
 'profile_holders_holder_email',
 'profile_holders_holder_landline',
 'profile_holders_holder_mobile',
 'profile_holders_holder_name',
 'profile_holders_holder_nominee',
 'profile_holders_holder_pan',
 'summary_balanceDateTime',
 'summary_branch',
 'summary_currency',
 'summary_currentBalance',
 'summary_currentODLimit',
 'summary_drawingLimit',
 'summary_exchgeRate',
 'summary_facility',
 'summary_ifscCode',
 'summary_micrCode',
 'summary_openingDate',
 'summary_pending_amount',
 'summary_pending_transactionType',
 'summary_status',
 'summary_type',
 'transactions_endDate',
 'transactions_startDate',
 'transactions_transaction_amount',
 'transactions_transaction_currentBalance',
 'transactions_transaction_mode',
 'transactions_transaction_narration',
 'transactions_transaction_reference',
 'transactions_transaction_transactionTimestamp',
 'transactions_transaction_txnId',
 'transactions_transaction_type',
 'transactions_transaction_valueDate',
 'total_debits',
 'total_credits',
 'average_transaction_amount',
 'frequent_transaction_modes']

In [ ]:
data=pd.read_csv('labelledSETU.csv')

In [ ]:
data

,Unnamed: 0,type,masked_account_number,link_ref_number,profile_holders_holder_address,profile_holders_holder_ckycCompliance,profile_holders_holder_dob,profile_holders_holder_email,profile_holders_holder_landline,profile_holders_holder_mobile,...,transactions_transaction_narration,transactions_transaction_reference,transactions_transaction_transactionTimestamp,transactions_transaction_txnId,transactions_transaction_type,transactions_transaction_valueDate,total_debits,total_credits,average_transaction_amount,frequent_transaction_modes
0,0,deposit,XXXXXXX117,997642425,"517/936, 895th Cross, 43rd Main, 19th Block, B...",True,2-11-1995,random40@gmail.com,NaN,917456338235,...,Narration 7,RFN26260,2023-03-27T18:55:58.789158,M807459,DEBIT,2023-01-21,162.0,NaN,162.0,NEFT
1,1,withdrawal,XXXXXXX326,896145836,"845/484, 187th Cross, 52rd Main, 18th Block, B...",False,27-1-1961,random14@gmail.com,NaN,918542725586,...,Narration 5,RFN84846,2023-02-15T18:55:58.789293,M403907,DEBIT,2023-06-25,589.0,NaN,589.0,UPI
2,2,deposit,XXXXXXX983,483736864,"117/684, 601th Cross, 66rd Main, 12th Block, B...",True,20-8-1984,random24@gmail.com,NaN,917469090792,...,Narration 3,RFN88377,2022-10-15T18:55:58.789419,M219674,CREDIT,2022-11-02,NaN,74.0,74.0,IMPS
3,3,withdrawal,XXXXXXX450,243561481,"944/285, 375th Cross, 23rd Main, 11th Block, B...",False,24-9-1970,random90@gmail.com,NaN,919985846671,...,Narration 4,RFN45239,2022-08-10T18:55:58.789542,M339180,DEBIT,2022-12-21,20.0,NaN,20.0,UPI
4,4,withdrawal,XXXXXXX691,144754670,"233/455, 553th Cross, 23rd Main, 2th Block, Ba...",True,28-2-1990,random50@gmail.com,NaN,917859613480,...,Narration 2,RFN43760,2023-08-02T18:55:58.791668,M190553,CREDIT,2023-02-18,NaN,27.0,27.0,IMPS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,deposit,XXXXXXX866,587505913,"500/950, 890th Cross, 28rd Main, 13th Block, B...",True,9-1-1987,random40@gmail.com,NaN,919710851608,...,Narration 4,RFN54832,2022-09-26T18:55:58.823799,M408815,CREDIT,2022-12-15,NaN,644.0,644.0,IMPS
396,396,deposit,XXXXXXX637,848612817,"47/761, 123th Cross, 70rd Main, 9th Block, Ban...",False,18-8-1995,random28@gmail.com,NaN,919617579870,...,Narration 3,RFN35520,2022-08-15T18:55:58.823870,M926978,CREDIT,2023-01-24,NaN,236.0,236.0,IMPS
397,397,withdrawal,XXXXXXX868,297798435,"79/843, 992th Cross, 30rd Main, 4th Block, Ban...",False,10-4-1952,random8@gmail.com,NaN,919293842143,...,Narration 4,RFN57736,2023-07-21T18:55:58.823941,M602881,CREDIT,2023-02-14,NaN,780.0,780.0,NEFT
398,398,withdrawal,XXXXXXX698,590438740,"621/312, 531th Cross, 60rd Main, 13th Block, B...",True,8-11-1951,random7@gmail.com,NaN,919479669130,...,Narration 8,RFN57518,2023-02-16T18:55:58.824011,M216663,DEBIT,2022-09-22,988.0,NaN,988.0,IMPS
399,399,deposit,XXXXXXX987,808351578,"304/802, 506th Cross, 19rd Main, 17th Block, B...",False,28-5-1962,random80@gmail.com,NaN,918227140193,...,Narration 5,RFN21190,2022-11-25T18:55:58.824086,M741002,CREDIT,2023-06-24,NaN,111.0,111.0,IMPS

In [ ]:
data = data.drop(columns=['profile_holders_holder_landline'])

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

# Load your CSV file into a pandas DataFrame
df = pd.read_csv('labelledSETU.csv')

# List of columns with categorical (textual) data
categorical_columns = ['Unnamed: 0',
 'type',
 'masked_account_number',
 'link_ref_number',
 'profile_holders_holder_address',
 'profile_holders_holder_ckycCompliance',
 'profile_holders_holder_dob',
 'profile_holders_holder_email',
 'profile_holders_holder_landline',
 'profile_holders_holder_mobile',
 'profile_holders_holder_name',
 'profile_holders_holder_nominee',
 'profile_holders_holder_pan',
 'summary_balanceDateTime',
 'summary_branch',
 'summary_currency',
 'summary_currentBalance',
 'summary_currentODLimit',
 'summary_drawingLimit',
 'summary_exchgeRate',
 'summary_facility',
 'summary_ifscCode',
 'summary_micrCode',
 'summary_openingDate',
 'summary_pending_amount',
 'summary_pending_transactionType',
 'summary_status',
 'summary_type',
 'transactions_endDate',
 'transactions_startDate',
 'transactions_transaction_amount',
 'transactions_transaction_currentBalance',
 'transactions_transaction_mode',
 'transactions_transaction_narration',
 'transactions_transaction_reference',
 'transactions_transaction_transactionTimestamp',
 'transactions_transaction_txnId',
 'transactions_transaction_type',
 'transactions_transaction_valueDate',
 'total_debits',
 'total_credits',
 'frequent_transaction_modes']
# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Apply label encoding to each categorical column
for column in categorical_columns:
    df[column] = label_encoder.fit_transform(df[column])

# Save the transformed DataFrame to a new CSV file
df.to_csv('your_file_transformed.csv', index=False)

print("Label encoding completed and data saved to 'your_file_transformed.csv'.")

Label encoding completed and data saved to 'your_file_transformed.csv'.

In [ ]:
data

,Unnamed: 0,type,masked_account_number,link_ref_number,profile_holders_holder_address,profile_holders_holder_ckycCompliance,profile_holders_holder_dob,profile_holders_holder_email,profile_holders_holder_mobile,profile_holders_holder_name,...,transactions_transaction_narration,transactions_transaction_reference,transactions_transaction_transactionTimestamp,transactions_transaction_txnId,transactions_transaction_type,transactions_transaction_valueDate,total_debits,total_credits,average_transaction_amount,frequent_transaction_modes
0,0,deposit,XXXXXXX117,997642425,"517/936, 895th Cross, 43rd Main, 19th Block, B...",True,2-11-1995,random40@gmail.com,917456338235,Random User 91,...,Narration 7,RFN26260,2023-03-27T18:55:58.789158,M807459,DEBIT,2023-01-21,162.0,NaN,162.0,NEFT
1,1,withdrawal,XXXXXXX326,896145836,"845/484, 187th Cross, 52rd Main, 18th Block, B...",False,27-1-1961,random14@gmail.com,918542725586,Random User 35,...,Narration 5,RFN84846,2023-02-15T18:55:58.789293,M403907,DEBIT,2023-06-25,589.0,NaN,589.0,UPI
2,2,deposit,XXXXXXX983,483736864,"117/684, 601th Cross, 66rd Main, 12th Block, B...",True,20-8-1984,random24@gmail.com,917469090792,Random User 54,...,Narration 3,RFN88377,2022-10-15T18:55:58.789419,M219674,CREDIT,2022-11-02,NaN,74.0,74.0,IMPS
3,3,withdrawal,XXXXXXX450,243561481,"944/285, 375th Cross, 23rd Main, 11th Block, B...",False,24-9-1970,random90@gmail.com,919985846671,Random User 16,...,Narration 4,RFN45239,2022-08-10T18:55:58.789542,M339180,DEBIT,2022-12-21,20.0,NaN,20.0,UPI
4,4,withdrawal,XXXXXXX691,144754670,"233/455, 553th Cross, 23rd Main, 2th Block, Ba...",True,28-2-1990,random50@gmail.com,917859613480,Random User 1,...,Narration 2,RFN43760,2023-08-02T18:55:58.791668,M190553,CREDIT,2023-02-18,NaN,27.0,27.0,IMPS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,deposit,XXXXXXX866,587505913,"500/950, 890th Cross, 28rd Main, 13th Block, B...",True,9-1-1987,random40@gmail.com,919710851608,Random User 29,...,Narration 4,RFN54832,2022-09-26T18:55:58.823799,M408815,CREDIT,2022-12-15,NaN,644.0,644.0,IMPS
396,396,deposit,XXXXXXX637,848612817,"47/761, 123th Cross, 70rd Main, 9th Block, Ban...",False,18-8-1995,random28@gmail.com,919617579870,Random User 93,...,Narration 3,RFN35520,2022-08-15T18:55:58.823870,M926978,CREDIT,2023-01-24,NaN,236.0,236.0,IMPS
397,397,withdrawal,XXXXXXX868,297798435,"79/843, 992th Cross, 30rd Main, 4th Block, Ban...",False,10-4-1952,random8@gmail.com,919293842143,Random User 22,...,Narration 4,RFN57736,2023-07-21T18:55:58.823941,M602881,CREDIT,2023-02-14,NaN,780.0,780.0,NEFT
398,398,withdrawal,XXXXXXX698,590438740,"621/312, 531th Cross, 60rd Main, 13th Block, B...",True,8-11-1951,random7@gmail.com,919479669130,Random User 30,...,Narration 8,RFN57518,2023-02-16T18:55:58.824011,M216663,DEBIT,2022-09-22,988.0,NaN,988.0,IMPS
399,399,deposit,XXXXXXX987,808351578,"304/802, 506th Cross, 19rd Main, 17th Block, B...",False,28-5-1962,random80@gmail.com,918227140193,Random User 73,...,Narration 5,RFN21190,2022-11-25T18:55:58.824086,M741002,CREDIT,2023-06-24,NaN,111.0,111.0,IMPS

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, VotingClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import joblib

# Load your dataset (replace this with your dataset)
data = pd.read_csv('your_file_transformed.csv')  # Replace 'your_dataset.csv' with the actual dataset file

# Selecting features and target variables
X = data.drop(['average_transaction_amount', 'frequent_transaction_modes'], axis=1)  # Features
y_average = data['average_transaction_amount']  # Target variable for average_transaction_amount
y_modes = data['frequent_transaction_modes']  # Target variable for frequent_transaction_modes

# Splitting the dataset into training and testing sets
X_train, X_test, y_average_train, y_average_test, y_modes_train, y_modes_test = train_test_split(
    X, y_average, y_modes, test_size=0.2, random_state=42
)

# Create and train the individual models
logreg_model = LogisticRegression(max_iter=1000, random_state=42)
logreg_model.fit(X_train, y_average_train)

rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_modes_train)

gb_model = GradientBoostingClassifier(n_estimators=100, random_state=42)
gb_model.fit(X_train, y_modes_train)

# Create a Voting Classifier
voting_classifier = VotingClassifier(estimators=[
    ('logreg', logreg_model),
    ('random_forest', rf_model),
    ('gradient_boosting', gb_model)
], voting='soft')  # 'soft' uses predicted class probabilities for voting

# Train the Voting Classifier
voting_classifier.fit(X_train, y_modes_train)

joblib.dump(voting_classifier, 'voting_classifier.pkl')

# Make predictions using the Voting Classifier
y_pred = voting_classifier.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_modes_test, y_pred)
print(f"Accuracy of the Voting Classifier: {accuracy:.2f}")

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Accuracy of the Voting Classifier: 1.00

In [ ]:
import datetime

# Given JSON data
data = {
    "type": "term_deposit",
    "masked_account_number": "XXXXXXX123",
    "link_ref_number": "123456789",
    "profile": {
        "holders": {
            "holder": [
                {
                    "address": "4/1290, 785th Cross, 13rd Main, 7th Block, Bangalore - 569911",
                    "ckycCompliance": "true",
                    "dob": "24-07-1970",
                    "email": "ram.sapan@gmail.com",
                    "landline": "",
                    "mobile": "91729391923",
                    "name": "Ramkrishna Sapan",
                    "nominee": "REGISTERED",
                    "pan": "AAAPL1234C"
                }
            ]
        }
    },
    "summary": {
        "accountType": "FIXED",
        "branch": "Jayanagar 7th Block",
        "compoundingFrequency": "HALF-YEARLY",
        "currentValue": "119845.90",
        "description": "",
        "ifsc": "APNB0001154",
        "interestComputation": "COMPOUND",
        "interestOnMaturity": "",
        "interestPayout": "HALF-YEARLY",
        "interestPeriodicPayoutAmount": "",
        "interestRate": "2",
        "maturityAmount": "10.0",
        "maturityDate": "12-11-2021",
        "openingDate": "06-08-2019",
        "principalAmount": "109890.98",
        "recurringAmount": "2453",
        "recurringDepositDay": "06-08-2019",
        "tenureDays": "180",
        "tenureMonths": "6",
        "tenureYears": "0.5"
    },
    "transactions": {
        "endDate": "",
        "startDate": "",
        "transaction": [
            {
                "amount": "1239",
                "currentBalance": "62289.25",
                "mode": "UPI",
                "narration": "UPI/935314560764/getsimpl/simpl@axisbank/Axis Bank",
                "reference": "RFN0TD0013383",
                "transactionTimestamp": "2021-04-01T13:20:14+05:30",
                "txnId": "TD3258741",
                "type": "DEBIT",
                "valueDate": "2021-04-01"
            },
            # ... more transactions
        ]
    }
}

# Convert date strings to datetime objects
maturity_date = datetime.datetime.strptime(data["summary"]["maturityDate"], "%d-%m-%Y")
current_date = datetime.datetime.now()

# Calculate time left to maturity in days
time_left_to_maturity = (maturity_date - current_date).days

# Calculate expected maturity amount with interest
principal_amount = float(data["summary"]["principalAmount"])
interest_rate = float(data["summary"]["interestRate"]) / 100
compounding_frequency = data["summary"]["compoundingFrequency"]
time_in_years = float(data["summary"]["tenureYears"])

if compounding_frequency == "ANNUALLY":
    n = 1
elif compounding_frequency == "HALF-YEARLY":
    n = 2
elif compounding_frequency == "QUARTERLY":
    n = 4
else:
    n = 12

expected_maturity_amount = principal_amount * (1 + interest_rate / n) ** (n * time_in_years)

# Compare actual vs. expected maturity amount
actual_maturity_amount = float(data["summary"]["maturityAmount"])

if actual_maturity_amount > expected_maturity_amount:
    comparison_result = "exceeded"
elif actual_maturity_amount < expected_maturity_amount:
    comparison_result = "fell short"
else:
    comparison_result = "met"

# Provide recommendations based on comparison
if comparison_result == "exceeded":
    recommendation = "Congratulations! Your term deposit has performed better than expected."
elif comparison_result == "fell short":
    recommendation = "Your term deposit fell short of the expected maturity amount. Consider reviewing your investment strategy."
else:
    recommendation = "Your term deposit performed as expected."

# Provide investment strategy recommendations
if time_left_to_maturity <= 90:
    investment_strategy = "As your term deposit is nearing maturity, consider exploring reinvestment options."
else:
    investment_strategy = "Since you have some time left to maturity, you may want to explore other investment opportunities."

# Print results
print("Comparison Result:", comparison_result)
print("Recommendation:", recommendation)
print("Investment Strategy:", investment_strategy)

Comparison Result: fell short
Recommendation: Your term deposit fell short of the expected maturity amount. Consider reviewing your investment strategy.
Investment Strategy: As your term deposit is nearing maturity, consider exploring reinvestment options.

In [ ]:
import csv

# List of fields to extract
fields_to_extract =['LOAN_TYPE',
 'GENDER',
 'OWN_CAR',
 'OWN_HOUSE',
 'CNT_CHILDREN',
 'ANNUAL_INCOME',
 'LOAN_AMOUNT',
 'LOAN_ANNUITY',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'MARITAL_STATUS',
 'OCCUPATION']

# List to store extracted data dictionaries
extracted_data = []

# Given JSON data (replace with your actual data)
json_data_list = [
    {
        # First JSON data
        # ...
        {
  "type": "recurring_deposit",
  "masked_account_number": "XXXXXXX123",
  "link_ref_number": "123456789",
  "profile": {
    "holders": {
      "holder": [
        {
          "address": "4/1290, 785th Cross, 13rd Main, 7th Block, Bangalore - 569911",
          "ckycCompliance": "true",
          "dob": "24-07-1970",
          "email": "ram.sapan@gmail.com",
          "landline": "",
          "mobile": "91729391923",
          "name": "Ramkrishna Sapan",
          "nominee": "REGISTERED",
          "pan": "AAAPL1234C"
        }
      ],
      "type": "JOINT"
    }
  },
  "summary": {
    "accountType": "FIXED",
    "branch": "Jayanagar 7th Block",
    "compoundingFrequency": "HALF-YEARLY",
    "currentValue": "119845.90",
    "description": "",
    "ifsc": "APNB0001154",
    "interestComputation": "COMPOUND",
    "interestOnMaturity": "",
    "interestPayout": "HALF-YEARLY",
    "interestPeriodicPayoutAmount": "",
    "interestRate": "2",
    "maturityAmount": "10.0",
    "maturityDate": "12-11-2021",
    "openingDate": "06-08-2019",
    "principalAmount": "109890.98",
    "recurringAmount": "2453",
    "recurringDepositDay": "06-08-2019",
    "tenureDays": "180",
    "tenureMonths": "6",
    "tenureYears": "0.5"
  },
  "transactions": {
    "endDate": "",
    "startDate": "",
    "transaction": [
      {
        "amount": "1239",
        "currentBalance": "62289.25",
        "mode": "UPI",
        "narration": "UPI/935314560764/getsimpl/simpl@axisbank/Axis Bank",
        "reference": "RFN0RD0013383",
        "transactionTimestamp": "2021-04-01T13:20:14+05:30",
        "txnId": "RD3258741",
        "type": "DEBIT",
        "valueDate": "2021-04-01"
      }
      # .......
    ]
  }
}
    }
]

# Extract data from each JSON entry
for json_data in json_data_list:
    extracted_entry = {}
    for field in fields_to_extract:
        keys = field.split('_')
        value = json_data
        for key in keys:
            value = value.get(key, {})
        extracted_entry[field] = value
    extracted_data.append(extracted_entry)

# Save extracted data to a CSV file
output_file = 'extracted_data.csv'
with open(output_file, 'w', newline='') as csvfile:
    writer = csv.DictWriter(csvfile, fieldnames=fields_to_extract)
    writer.writeheader()
    writer.writerows(extracted_data)

print(f"Extracted data saved to {output_file}.")

TypeError: ignored